@inherits StoreXComponent<AppStore>
@inject IToastService toastService

<div class="col-sm-6 mt-2">
    <div class="card">

        <div class="card-header">
            @Product.Title
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">$@Product.Price</h6>
            <button class="btn btn-block col-sm-6 btn-primary m-auto" @onclick="AddProductToCart">Add to Cart</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Product Product { get; set; }
    [Parameter]
    public EventCallback<Product> InvalidProductAddedEventCallback { get; set; }
    [Parameter]
    public EventCallback<Product> ProductAddedEventCallback { get; set; }

    async void AddProductToCart()
    {
        try
        {
            await CommitStoreXMutation(new AddProductToCartMutation(Product));
            await ProductAddedEventCallback.InvokeAsync(Product);
        }
        catch (ProductInvalidException)
        {
            await InvalidProductAddedEventCallback.InvokeAsync(Product);
        }
        catch (Exception e)
        {
            toastService.ShowError("Something went wrong while adding that product.");
        }
    }
}
